.header__lang-link_no-selected {
    padding: 0;
    margin: 0;
    font-weight: 400;
    text-align: right;
    font-size: 24px;
    line-height: 117%;
    margin-left: 18px;
}

@media screen and (max-width: 320px) {
    .header__lang-link_no-selected {
        font-size: 18px;
        line-height: 111%;
    }
}