.cover__background {
    background-image: url(../../../images/sprint-3-images/cover-trains.jpg);
    background-size: cover;
    width: 1184px;
    height: 740px;
    margin: 92px 48px 92px 48px;
    position: relative;
}