.footer {
    width: 93%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 2% auto;
} 

@media screen and (max-width: 767px) {
    .footer {
    flex-direction: column;
    width: 58%;
    margin: 21% 37% 8% 5%;
    }
}